h1,
.date {
    font-family: "Georgia", serif;
}
h1 {
    text-align: center;
}
h1,
.date {
    color: #004c97;
}
.date {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
/* .phone {
    visibility: visible;
}
.compt {
    visibility: hidden;
} */
.flex-me {
    display: flex;
    flex-direction: column;
}
.day {
    border: 1px solid black;
    padding: 6px;
}
.activities {
    text-align: center;
}
/* .flex-me div:nth-child(2) {

} */
.dayheader {
    font-weight: bold;
}
.dateimg {
    margin-top: 30px;
    margin-bottom: 45px;
}
@media (min-width: 800px) {
    .container {
        margin: 0 auto;
    }
    .flex-me {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }

    .date {
        margin-left: 50px;
        font-size: 2em;
        font-weight: bold;
    }
    .dayheader {
        border-bottom: 1px solid black;
    }
    /* .compt {
        visibility: visible;
    }
    .phone {
        visibility: hidden;
    } */
}
